@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-primary: rgba(255,255,255,1);
    --txt-primary: rgba(0,0,0,1);

    --ff-primary: 'Roboto', sans-serif;
}

.darkmode {
    --bg-primary: rgba(0,0,0,1);
    --txt-primary: rgba(255,255,255,1);
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100svh;
    width: 100%;
}

body {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    font-family: var(--ff-primary);
}

#hero {
    height: 100svh;
    width: 100%;
    position: relative;
}



.div1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    -webkit-transform: translate(-50%, -15%);
    -moz-transform: translate(-50%, -15%);
    -ms-transform: translate(-50%, -15%);
    -o-transform: translate(-50%, -15%);
}

#clock {
    font-size: clamp(4rem, 12vw + 1rem, 20rem);
    font-weight: 100;
}

#date {
    font-size: clamp(1.25rem, 1.5vw + 1rem, 8rem);
    font-weight: 100;
}

#themeChange {
    z-index: 9999;
    padding: 0.5em;
    background: none;
    color: var(--txt-primary);
    border: 0.05em solid var(--txt-primary);
    font-family: var(--ff-primary);
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
}

#themeChange:hover {
    background-color: var(--txt-primary);
    color: var(--bg-primary);
}